@import './helpers';
@import './reset.css';

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --inspect-color: #f00;
  --color-green: #5dfd63;
  --color-black: #000;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light;
  background-color: var(--color-green);
}

body {
  font-family: var(--font-body);
  transition: opacity #{$duration / 3 + 's'} ease-in;
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

// WARNING: if you don't want to use a fade in for the body, you can remove
// this chunk of CSS. But ALSO make sure you remove the style tag in the body in _document.tsx
// and the transition property on the body as well. thx.
html.fonts-loaded body {
  opacity: 1 !important;
}
// end warning

h1 {
  font-family: var(--font-heading);
  font-size: tovw(184px, 'desktop', 90px);
  font-weight: 700;
  line-height: 0.92;
  display: block;
  margin: tovw(120px, 'desktop', 100px) 0 tovw(40px) 0;
  text-align: center;
  color: var(--color-black);
}

.logo {
  display: block;

  img {
    width: tovw(250px, 'desktop', 100px);
  }
}

p {
  font-size: tovw(20px, 'desktop', 20px);
}

a {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 1rem;
}
