@use 'sass:math';
@import './helpers';
@import './reset.css';

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;

  // Colors
  --inspect-color: #f00;
  --color-green: #5dfd63;
  --color-black: #000;

  // Transitions
  --transition-quick: #{math.div($duration, 2)}s cubic-bezier(0.4, 1, 0.8, 1);
  --transition-slow: #{$duration}s cubic-bezier(0.4, 1, 0.8, 1);
}

html {
  box-sizing: border-box;
  background-color: var(--color-black);
  text-rendering: geometricprecision;
  line-height: 1.5;
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  transition: opacity #{$duration / 2 + 's'} ease-in;
  font-family: var(--font-body);
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

h1 {
  display: block;
  margin: tovw(80px, 'desktop-large', 45px) 0 tovw(30px, 'desktop-large', 20px)
    0;
  text-align: center;
  line-height: 1;
  color: var(--color-black);
  font-family: var(--font-heading);
  font-size: tovw(184px, 'desktop-large', 65px);
  font-weight: 700;
}

.logo {
  display: block;

  svg {
    width: tovw(140px, 'desktop-large', 125px);
  }
}

p {
  text-align: center;
  font-size: tovw(30px, 'desktop-large', 16px);
}

a {
  text-decoration: none;
}

.link {
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  transition: color var(--transition-quick);
  white-space: nowrap;
  color: currentcolor;

  &::before,
  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: torem(2px);
    pointer-events: none;
    background: currentcolor;
  }

  &::before {
    content: '';
    transition: transform var(--transition-quick);
    transform: scale3d(0, 1, 1);
    transform-origin: 100% 50%;
    will-change: transform;
  }

  &:hover {
    &::before {
      transform: scale3d(1, 1, 1);
      transform-origin: 0 50%;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: tovw(1200px, 'desktop-large', 1100px);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 tovw(24px, 'desktop-large', 24px);
}
